USE [master]
GO
/****** Object:  Database [TechCulture]    Script Date: 8/15/2026 9:56:31 PM ******/
CREATE DATABASE [TechCulture]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TechCulture', FILENAME = N'C:\Users\maria\TechCulture.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TechCulture_log', FILENAME = N'C:\Users\maria\TechCulture_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TechCulture].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TechCulture]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 8/15/2026 9:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Codigo] [int] IDENTITY(100001,1) NOT NULL,
	[Contraseña] [varchar](60) NOT NULL,
	[NombreYApellido] [varchar](50) NULL,
	[Cedula] [varchar](15) NOT NULL,
	[Correo] [varchar](60) NOT NULL,
	[Puesto] [varchar](35) NULL,
	[Telefono] [varchar](30) NULL,
	[Direccion] [varchar](100) NULL,
	[FechaIngreso] [date] NOT NULL,
	[SueldoBase] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialVentas]    Script Date: 8/15/2026 9:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialVentas](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[CodigoEmpleado] [int] NOT NULL,
	[CodigoLaptop] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioLaptop] [decimal](10, 2) NULL,
	[Total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Laptops]    Script Date: 8/15/2026 9:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laptops](
	[Codigo] [int] IDENTITY(100,1) NOT NULL,
	[Marca] [varchar](20) NOT NULL,
	[Modelo] [varchar](25) NOT NULL,
	[FechaLanzamiento] [int] NULL,
	[Uso] [varchar](30) NULL,
	[Color] [varchar](20) NULL,
	[SizePantalla] [varchar](10) NULL,
	[CPU] [varchar](20) NULL,
	[RAM] [varchar](20) NULL,
	[Graficos] [varchar](50) NULL,
	[Almacenamiento] [varchar](15) NULL,
	[OSInstalado] [varchar](30) NULL,
	[Precio] [decimal](18, 0) NOT NULL,
	[Stock] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([Codigo], [Contraseña], [NombreYApellido], [Cedula], [Correo], [Puesto], [Telefono], [Direccion], [FechaIngreso], [SueldoBase]) VALUES (100001, N'1234e', N'María Rodríguez', N'402-300-8228-5', N'mariardg@techculture.do', N'DBA', N'+1829-392-2200', N'C/ Mara #10 Res. Parque del Norte', CAST(N'2018-10-02' AS Date), CAST(110000.00 AS Decimal(10, 2)))
INSERT [dbo].[Empleados] ([Codigo], [Contraseña], [NombreYApellido], [Cedula], [Correo], [Puesto], [Telefono], [Direccion], [FechaIngreso], [SueldoBase]) VALUES (100008, N'LuisG2026!', N'Luis Eduardo Gómez', N'001-0982341-5', N'luis.gomez@techculture.do', N'Cajero', N'+1849-555-0123', N'C/ Sabana Larga #88, Ens. Ozama, SDE', CAST(N'2023-08-10' AS Date), CAST(28000.00 AS Decimal(10, 2)))
INSERT [dbo].[Empleados] ([Codigo], [Contraseña], [NombreYApellido], [Cedula], [Correo], [Puesto], [Telefono], [Direccion], [FechaIngreso], [SueldoBase]) VALUES (100009, N'camiR$26', N'Camila Isabel Reyes', N'108-0034921-8', N'c.reyes@techculture.do', N'Cajero', N'+1809-555-0177', N'Av. Independencia #402, Gazcue, DN', CAST(N'2024-09-06' AS Date), CAST(38000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[HistorialVentas] ON 

INSERT [dbo].[HistorialVentas] ([Codigo], [Fecha], [CodigoEmpleado], [CodigoLaptop], [Cantidad], [PrecioLaptop], [Total]) VALUES (1, CAST(N'2026-08-11T16:10:10.757' AS DateTime), 100008, 102, 1, CAST(24500.00 AS Decimal(10, 2)), CAST(24500.00 AS Decimal(10, 2)))
INSERT [dbo].[HistorialVentas] ([Codigo], [Fecha], [CodigoEmpleado], [CodigoLaptop], [Cantidad], [PrecioLaptop], [Total]) VALUES (2, CAST(N'2026-08-11T16:20:10.503' AS DateTime), 100008, 104, 2, CAST(112000.00 AS Decimal(10, 2)), CAST(224000.00 AS Decimal(10, 2)))
INSERT [dbo].[HistorialVentas] ([Codigo], [Fecha], [CodigoEmpleado], [CodigoLaptop], [Cantidad], [PrecioLaptop], [Total]) VALUES (6, CAST(N'2025-02-21T00:00:00.000' AS DateTime), 100016, 108, 1, CAST(76000.00 AS Decimal(10, 2)), CAST(76000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[HistorialVentas] OFF
GO
SET IDENTITY_INSERT [dbo].[Laptops] ON 

INSERT [dbo].[Laptops] ([Codigo], [Marca], [Modelo], [FechaLanzamiento], [Uso], [Color], [SizePantalla], [CPU], [RAM], [Graficos], [Almacenamiento], [OSInstalado], [Precio], [Stock]) VALUES (100, N'ASUS', N'ROG Strix G16', 2024, N'Gaming', N'Eclipse Gray', N'16.0"', N'Core i7-13650HX', N'16 GB', N'NVIDIA GeForce RTX 4060 8GB', N'1TB NVMe SSD', N'Windows 11 Home', CAST(98500 AS Decimal(18, 0)), 6)
INSERT [dbo].[Laptops] ([Codigo], [Marca], [Modelo], [FechaLanzamiento], [Uso], [Color], [SizePantalla], [CPU], [RAM], [Graficos], [Almacenamiento], [OSInstalado], [Precio], [Stock]) VALUES (102, N'Lenovo', N'IdeaPad Slim 3', 2023, N'Navegación', N'Abyss Blue', N'15.6"', N'Intel Core i3-N305', N'8 GB', N'Intel UHD Graphics', N'256GB SSD', N'Windows 11 Home', CAST(24500 AS Decimal(18, 0)), 9)
INSERT [dbo].[Laptops] ([Codigo], [Marca], [Modelo], [FechaLanzamiento], [Uso], [Color], [SizePantalla], [CPU], [RAM], [Graficos], [Almacenamiento], [OSInstalado], [Precio], [Stock]) VALUES (103, N'HP', N'Pavilion x360', 2023, N'Navegación', N'Natural Silver', N'14.0"', N'Core i5-1335U', N'8 GB', N'Intel Iris Xe Graphics', N'512GB SSD', N'Windows 11 Home', CAST(39800 AS Decimal(18, 0)), 7)
SET IDENTITY_INSERT [dbo].[Laptops] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Empleado__4EC50480E28B8974]    Script Date: 8/15/2026 9:56:31 PM ******/
ALTER TABLE [dbo].[Empleados] ADD UNIQUE NONCLUSTERED 
(
	[Telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Empleado__60695A19AF2CB668]    Script Date: 8/15/2026 9:56:31 PM ******/
ALTER TABLE [dbo].[Empleados] ADD UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HistorialVentas] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[HistorialVentas]  WITH CHECK ADD FOREIGN KEY([CodigoEmpleado])
REFERENCES [dbo].[Empleados] ([Codigo])
GO
ALTER TABLE [dbo].[HistorialVentas]  WITH CHECK ADD FOREIGN KEY([CodigoLaptop])
REFERENCES [dbo].[Laptops] ([Codigo])
GO
USE [master]
GO
